QWidget * {
  background: rgb(56, 56, 56);
}

QWidget#main_QWidget {
  border-radius: 0px;
  border: 1px solid rgb(56, 56, 56);
  border-top: 1px solid rgb(65, 65, 65);
}

/* Index */
QLabel#index_QLabel {
  padding-left: 12px;
  font-family: SourceCodePro;
  font-weight: 900;
  font-size: 12px;
  color: #999999;
}

/* Name */
QLabel#name_QLabel {
  font-weight: 800;
  font-size: 14px;
}

/* Preferences QPushButton */
QPushButton#pref_QPushButton {
  border: 0px solid transparent;
  border-radius: 0px;
  padding-left: 6px;
  padding-right: 6px;
}
QPushButton#pref_QPushButton::menu-indicator {
  image: none;
}

QMenu {
  background: rgb(40, 40, 40);
  color: rgb(110, 110, 110);
  icon-size: 30px;
}

QMenu::item {
  padding: 2px 10px 2px 40px;
  font-family: SourceCodePro;
  font-weight: 600;
  font-size: 12px;
}
QMenu::item:selected {
  color: #999999;
}

QMenu::indicator {
  padding-left: 10px;
  width: 20px;
  height: 20px;
}
QMenu::indicator:checked {
  image: url(:toggle-slider-on.svg);
}
QMenu::indicator:unchecked {
  image: url(:toggle-slider-off.svg);
}
QMenu::indicator:checked:selected {
  image: url(:toggle-slider-on-selected.svg);
}
QMenu::indicator:unchecked:selected {
  image: url(:toggle-slider-off-selected.svg);
}

/* Info */
QLabel#info_QLabel {
  padding-left: 18;
  padding-right: 18px;
}

/* Tooltip */
QToolTip {
  background: rgb(40, 40, 40);
  color: rgb(150, 150, 150);
  font-family: SourceCodePro;
  font-weight: 500;
  font-size: 12px;
}
